# Dependencies
node_modules/
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.gitignore

# Docker
.dockerignore
docker-compose.*
Dockerfile*

# Environment
.env*
!.env.example

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Build
build/
dist/

# Other:
secrets.*
